.cart .cart-btn {
  outline: none !important;
  border: none;
  background-color: #222;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  letter-spacing: 1px;
  transition: all 0.3s; }
  .cart .cart-btn:hover {
    background-color: #e65540; }
.cart .cart-banner {
  display: flex;
  height: 240px;
  margin-bottom: 60px; }
  @media (max-width: 767px) {
    .cart .cart-banner {
      margin-bottom: 30px; } }
  .cart .cart-banner h1 {
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase; }
.cart .table-container {
  position: relative; }
  .cart .table-container::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: calc(100% - 55px);
    background-color: #e6e6e6;
    top: 55px;
    left: 0; }
  .cart .table-container::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: calc(100% - 55px);
    background-color: #e6e6e6;
    top: 55px;
    right: 0; }
  @media (max-width: 1037px) {
    .cart .table-container .selling-items {
      overflow: auto; } }
  .cart .table-container .selling-items table {
    border-top: none;
    border-collapse: collapse;
    width: 100%;
    min-width: 992px;
    height: fit-content; }
    .cart .table-container .selling-items table tbody .remove-border {
      border-right: none;
      border-left: none; }
    .cart .table-container .selling-items table tbody tr {
      border-top: 1px solid #c8c8c896;
      border-bottom: 1px solid #c8c8c896; }
      .cart .table-container .selling-items table tbody tr:first-of-type {
        border: none; }
      .cart .table-container .selling-items table tbody tr .cell-1 {
        width: 225px;
        padding-left: 50px; }
      .cart .table-container .selling-items table tbody tr .cell-2 {
        width: 330px;
        padding-right: 30px; }
      .cart .table-container .selling-items table tbody tr .cell-3 {
        width: 133px;
        padding-right: 30px; }
      .cart .table-container .selling-items table tbody tr .cell-4 {
        width: 355px;
        padding-right: 30px; }
      .cart .table-container .selling-items table tbody tr .cell-5 {
        padding-right: 30px; }
      .cart .table-container .selling-items table tbody tr th {
        text-align: left;
        font-size: 15px;
        color: #555555;
        line-height: 1.5;
        text-transform: uppercase;
        padding-top: 16px;
        padding-bottom: 16px; }
      .cart .table-container .selling-items table tbody tr td {
        font-size: 16px;
        color: #555555;
        line-height: 1.5;
        padding-top: 37px;
        padding-bottom: 30px; }
        .cart .table-container .selling-items table tbody tr td .cart-items {
          width: 90px;
          position: relative; }
          .cart .table-container .selling-items table tbody tr td .cart-items::after {
            content: "X";
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            transition: all 0.3s;
            opacity: 0; }
          .cart .table-container .selling-items table tbody tr td .cart-items:hover::after {
            opacity: 1;
            cursor: pointer; }
        .cart .table-container .selling-items table tbody tr td .items-counter {
          border: 2px solid #e6e6e6;
          width: fit-content;
          display: flex; }
          .cart .table-container .selling-items table tbody tr td .items-counter input {
            outline: none !important;
            text-align: center;
            width: 53px;
            height: 40px;
            border: none;
            font-size: 16px;
            color: #605f5f;
            font-weight: 500; }
          .cart .table-container .selling-items table tbody tr td .items-counter input::-webkit-outer-spin-button,
          .cart .table-container .selling-items table tbody tr td .items-counter input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
          .cart .table-container .selling-items table tbody tr td .items-counter .counter-indicators {
            outline: none !important;
            border: none;
            width: 44px;
            background-color: #e6e6e6;
            color: #727272db;
            font-size: 10px; }
            .cart .table-container .selling-items table tbody tr td .items-counter .counter-indicators:active {
              background-color: #cf0000;
              color: #fff; }
.cart .coupon-container {
  border: 1px solid #e6e6e6;
  border-top: none;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .cart .coupon-container .coupon {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .cart .coupon-container .coupon [placeholder]:focus::-webkit-input-placeholder {
      opacity: 0; }
    .cart .coupon-container .coupon .coupon-input {
      margin: 0 10px 0 0;
      border: 1px solid #e6e6e6;
      width: 265px;
      height: 45px; }
      .cart .coupon-container .coupon .coupon-input input {
        outline: none !important;
        border: none;
        font-size: 14px;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        color: #6d6d6df8; }
    .cart .coupon-container .coupon .submit-coupon {
      width: 190px;
      height: 45px;
      margin-right: 10px; }
      @media (max-width: 603px) {
        .cart .coupon-container .coupon .submit-coupon {
          margin-top: 10px; } }
      .cart .coupon-container .coupon .submit-coupon button {
        width: 100%;
        height: 100%;
        font-size: 14px; }
  .cart .coupon-container .check-cart {
    width: 177px;
    height: 45px; }
    @media (max-width: 780px) {
      .cart .coupon-container .check-cart {
        margin: 10px 0; } }
    .cart .coupon-container .check-cart button {
      width: 100%;
      height: 100%;
      font-size: 14px; }
.cart .cart-totals {
  max-width: 442px;
  margin: 30px 0 70px auto;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  line-height: 1.5; }
  .cart .cart-totals .cart-header h3 {
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 24px;
    font-weight: 700; }
  .cart .cart-totals .prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px dotted #e6e6e6;
    padding-bottom: 20px; }
    .cart .cart-totals .prices span:first-of-type {
      width: 34%;
      font-size: 16px;
      color: #555555;
      text-transform: capitalize;
      font-weight: 600; }
    .cart .cart-totals .prices span:last-of-type {
      font-size: 16px;
      color: #888888; }
  .cart .cart-totals .items-shipping {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px dotted #e6e6e6;
    padding: 20px 0; }
    .cart .cart-totals .items-shipping span {
      width: 34%;
      font-size: 16px;
      color: #555555;
      text-transform: capitalize;
      font-weight: 600; }
    .cart .cart-totals .items-shipping .shipping-help-info {
      width: 66%; }
      .cart .cart-totals .items-shipping .shipping-help-info p {
        font-size: 14px;
        color: #888888;
        line-height: 1.8;
        margin: 0;
        padding-bottom: 15px; }
      .cart .cart-totals .items-shipping .shipping-help-info .shipping-address label {
        font-size: 14px;
        color: #555555a4;
        line-height: 1.8;
        text-transform: uppercase; }
      .cart .cart-totals .items-shipping .shipping-help-info .shipping-address select {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 10px 0 15px;
        font-size: 14px;
        outline: none !important;
        cursor: pointer;
        width: 100%;
        color: #6b6b6b;
        margin-bottom: 15px; }
        .cart .cart-totals .items-shipping .shipping-help-info .shipping-address select option {
          padding: 0 10px;
          border: none; }
          .cart .cart-totals .items-shipping .shipping-help-info .shipping-address select option:hover {
            background-color: #e65540 !important; }
      .cart .cart-totals .items-shipping .shipping-help-info .shipping-address input {
        border: 1px solid #aaa;
        outline: none !important;
        font-size: 14px;
        width: 100%;
        height: 45px;
        padding: 0 10px 0 15px;
        color: #6d6d6df8; }
        .cart .cart-totals .items-shipping .shipping-help-info .shipping-address input:first-of-type {
          margin-bottom: 15px; }
      .cart .cart-totals .items-shipping .shipping-help-info .shipping-address [placeholder]:focus::-webkit-input-placeholder {
        opacity: 0; }
      .cart .cart-totals .items-shipping .shipping-help-info .shipping-address .update-btn {
        padding: 10px 0;
        margin-top: 15px;
        width: 77%;
        font-size: 14px; }
  .cart .cart-totals .total-price .prices {
    border-bottom: none; }
  .cart .cart-totals .checkout-btn-container .checkout-btn {
    width: 100%;
    height: 45px;
    font-size: 14px; }

@media (max-width: 576px) {
  .cart-totals {
    padding: 15px !important; }
    .cart-totals .prices {
      padding-bottom: 15px !important; }
      .cart-totals .prices span {
        font-size: 18px !important; }
        .cart-totals .prices span:first-of-type {
          width: 100% !important; }
    .cart-totals .items-shipping {
      flex-direction: column; }
      .cart-totals .items-shipping span {
        padding-bottom: 10px; }
      .cart-totals .items-shipping .shipping-help-info {
        width: 100% !important; }
        .cart-totals .items-shipping .shipping-help-info .update-btn {
          width: 100% !important; } }
.container {
  max-width: 1200px !important; }

/*# sourceMappingURL=Cart.css.map */
